# This file is a "template" of what your parameters.yml file should look like
#
# NB!: Some parameters are on purpose placed in default_parameters.yml to not
#      prompt on all possible parameters during install with no info to go with it.
#      (This will change once we move to use Symfony flex)
parameters:
    # A secret key that's used to generate certain security-related tokens
    env(SYMFONY_SECRET): ThisEzPlatformTokenIsNotSoSecret_PleaseChangeIt

    # Settings for database backend used by Doctrine DBAL
    # In turn used for default storage engine & default search engine (if legacy is configured as search engine)
    env(DATABASE_DRIVER): pdo_mysql
    env(DATABASE_HOST): localhost
    env(DATABASE_PORT): ~
    env(DATABASE_NAME): ezplatform
    env(DATABASE_USER): root
    env(DATABASE_PASSWORD):
    env(DATABASE_CHARSET): utf8mb4
    env(DATABASE_COLLATION): utf8mb4_unicode_520_ci
    env(CACHE_POOL): cache.tagaware.filesystem
    env(CACHE_DSN): localhost
    mapbox_token:
    twitter_api_key:
    twitter_api_secret:
    twitter_token_key:
    twitter_token_secret:
    content_type_id_city:
    content_type_id_short_news:
    content_type_id_social_media_message: