{{ ez_render_field(item, 'image', {'parameters':{'alias': 'folder_apercu'}, 'class': 'img-fluid'}) }}
<h2>{{ ez_content_name(item) }}</h2>
<p><a href="{{ path('ez_urlalias', {'contentId': item.id}) }}" class="btn btn-outline-info btn-lg">See more</a></p>