<h2>{{ ez_content_name(item) }}</h2>
<p>Published at {{ ez_field_value(item, 'created_at').value | date('d/m/Y, H:i') }} by <strong>{{ ez_render_field(item, 'username') }}</strong></p>
<p>{{ ez_render_field(item, 'source') }}</p>