{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{%- block eztags_field -%}
    {% if field.value.tags|length() > 0 %}
        <ul {{ block( 'field_attributes' ) }}>
            {% for tag in field.value.tags %}
                <li>
                    <a href="{{ path( tag ) }}">
                        {{ netgen_tags_tag_keyword( tag ) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endblock -%}
